.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .image {
    border-radius: 10px;
  }
  
  .title {
    font-size: 2em;
    color: #0070f3;
    margin: 20px 0;
  }
  
  .description {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    max-width: 600px;
  }
  
  .info {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
  }
  
  .infoItem {
    margin: 5px 0;
  }
  